    <!-- Navbar -->
    <!-- <%- include("../includes/navbar2.ejs") %> -->
    <nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-user"></i></a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <!-- <a class="nav-link" href="/image">Upload an image</a> -->
                    <form action="/image" method="GET">
                        <button type="submit" class="btn btn-outline-secondary">Upload an Image</button>
                    </form>
                    <!-- <a class="nav-link" href="/#">Login</a> -->
                </div>

                <div class="navbar-nav ms-auto">
                    <!-- <//% if( !currUser) { %> -->
                        <a class="nav-link" href="/register">Sign Up</a>
                        <a class="nav-link" href="/login">Login</a>
                    <!-- <//% } %> -->

                    <!-- <//% if( !currUser) { %> -->
                        <form action="/user/logout" method="POST" class="d-inline">
                            <button type="submit" class="nav-link btn btn-link">Sign Out</button>
                        </form>
                    <!-- <//% } %> -->
                </div>
            </div>
        </div>
    </nav>

    

    <!-- Sidebar -->
    <!-- <div id="sidebar-wrapper" class="bg-dark">
        <ul class="sidebar-nav">
            <li><a href="/"><i class="bi bi-house-door"></i> <span>Home</span></a></li>
            <li><a href="#"><i class="bi bi-person-plus"></i> <span>Subscribe</span></a></li>
            <li><a href="#"><i class="bi bi-search"></i> <span>Search</span></a></li>
            <li><a href="#"><i class="bi bi-clock-history"></i> <span>History</span></a></li>
            <li><a href="#"><i class="bi bi-images"></i> <span>Photos</span></a></li>
        </ul>
    </div> -->