<% layout("/layouts/boilerplate") %>
<body>
    <div>
        <form action="/updateAccountDetails" method="get">
            <button class="btn btn-dark"> Update Account Details</button>
        </form>
        <br><br>
        <form action="/avatar" method="get">
            <button class="btn btn-dark"> Change avatar</button>
        </form>
        <br><br>
        <form action="/coverImage" method="get">
            <button class="btn btn-dark"> Change Cover Image</button>
        </form>
    </div>
</body>