.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.delete-btn{
    background-color: red;
    border: none;
}


.show-card{
    padding-left: 0;
    padding-right: 0;
}

.review-card{
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
} 